{% extends 'home/base.html' %}

{% block content %}
<center>
<div class="profile">
    {% for m in messages %}
        <p style="width: 250px;background-color: red;">{{m}}</p>
        {% endfor %}
<form method="POST" enctype="multipart/form-data" action='{% url "crtpat" %}'>
{% csrf_token %}
<table>
<tr><th>Nombre:</th><th><input type="text" name='name'></th></tr>
<tr><th>Email:</th><th><input type="text" name='email'></th></tr>
<tr><th>Telefono:</th><th><input type="text" name='phone'></th></tr>
<tr><th>Genero:</th><th><select name="gender">
    <option value="Male">Masculino </option>
    <option value="Female">Femenino</option>
    <option value="Other">Otros</option></th></tr>
<tr><th>Edad:</th><th><input type="text" name='age'></th></tr>
<tr><th>Direccion:</th><th><input type="text" name='address'></th></tr>
<tr><th>Grupo Sanguineo:</th><th><select name="bloodgroup">
    <option value="A+">A+</option>
    <option value="A-">A-</option>
    <option value="B+">B+</option>
    <option value="B-">B-</option>
    <option value="O+">O+</option>
    <option value="O-">O-</option>
    <option value="AB+">AB-</option>
    <option value="AB-">AB+</option>
</select></th></tr>
<tr><th>Papel del caso:</th><th><input type="text" name='casepaper'></th></tr>
<tr><th>Reporte Medico :</th><th><input type="file" name='image' required></th></tr>
</table>
<input type="submit" value="Create">
</form>
    
</div>
</center>
{% endblock %}
